Imported: 
- the module/libary Pandas
- excel file with sales data

In [11]:
import pandas as pd

In [12]:
df = pd.read_excel("sales.xlsx")

Dropping the columns that are not needed

In [14]:
df = df.drop(columns=["year", "release_date", "genre", "international_box_office", "domestic_box_office", "Unnamed: 8", "avg run per theatre", "runtime", "keywords", "creative_type"])
df.head()

,title,worldwide_box_office,production_budget,opening_weekend,theatre_count,url
0,Bakha Satang,76576.0,NaN,NaN,NaN,https://www.the-numbers.com/movie/Bakha-Satang...
1,Antitrust,17865209.0,30000000.0,5486209.0,2433.0,https://www.the-numbers.com/movie/Antitrust
2,Santitos,NaN,NaN,NaN,NaN,https://www.the-numbers.com/movie/Santitos
3,Frank McKlusky C.I.,NaN,NaN,NaN,NaN,https://www.the-numbers.com/movie/Frank-McKlus...
4,A Walk to Remember,46060861.0,11000000.0,12177488.0,2411.0,https://www.the-numbers.com/movie/Walk-to-Reme...

- Adding the column for the primary key: sales_id
- Ordering the columns

In [15]:
df["sales_id"] = range(1, len(df) +1)
df = df[['sales_id', 'title', 'url', 'worldwide_box_office', 'production_budget', 'opening_weekend', 'theatre_count']]
df.head()

,sales_id,title,url,worldwide_box_office,production_budget,opening_weekend,theatre_count
0,1,Bakha Satang,https://www.the-numbers.com/movie/Bakha-Satang...,76576.0,NaN,NaN,NaN
1,2,Antitrust,https://www.the-numbers.com/movie/Antitrust,17865209.0,30000000.0,5486209.0,2433.0
2,3,Santitos,https://www.the-numbers.com/movie/Santitos,NaN,NaN,NaN,NaN
3,4,Frank McKlusky C.I.,https://www.the-numbers.com/movie/Frank-McKlus...,NaN,NaN,NaN,NaN
4,5,A Walk to Remember,https://www.the-numbers.com/movie/Walk-to-Reme...,46060861.0,11000000.0,12177488.0,2411.0

Exporting the cleaned data into a csv file

In [16]:
df.to_csv("sales_clean.csv")

Importing the clean version of the files

In [18]:
df = pd.read_csv("sales_clean.csv")
df1 = pd.read_excel("movie_clean.xlsx")

- Merging the files by column: title
- Removing duplicates 
- Adding column movie_ID

In [26]:
df = df.drop_duplicates(subset='title')
df1 = df1.drop_duplicates(subset='title')
merged_df = df.merge(df1[['title', 'movie_ID']], on='title', how='left')

(29983, 8)

Exporting the merged file into a new csv file

In [ ]:
merged_df.to_csv('sales_clean1.csv')
merged_df.shape