In [1]:
import pandas as pd

In [5]:
df = pd.read_excel("metaClean43Brightspace (1).xlsx")

In [6]:
df.drop(columns=['studio', 'rating', 'runtime', 'cast', 'director', 'summary', 'awards'])

,url,title,genre,metascore,userscore,RelDate
0,https://www.metacritic.com/movie/!women-art-re...,!Women Art Revolution,Documentary,70,NaN,2011-06-01
1,https://www.metacritic.com/movie/10-cloverfiel...,10 Cloverfield Lane,"Action,Sci-Fi,Drama,Mystery,Thriller,Horror",76,7.7,2016-03-11
2,https://www.metacritic.com/movie/10-items-or-less,10 Items or Less,"Drama,Comedy,Romance",54,5.8,2006-12-01
3,https://www.metacritic.com/movie/10-years,10 Years,"Drama,Comedy,Romance",61,6.9,2012-09-14
4,https://www.metacritic.com/movie/100-bloody-acres,100 Bloody Acres,"Horror,Comedy",63,7.5,2013-06-28
...,...,...,...,...,...,...
11359,https://www.metacritic.com/movie/zoolander-2,Zoolander 2,Comedy,34,4.1,2016-02-12
11360,https://www.metacritic.com/movie/zoom,Zoom,"Action,Adventure,Sci-Fi,Family",26,4.4,2006-08-11
11361,https://www.metacritic.com/movie/zoom-2016,Zoom,"Drama,Comedy,Animation",55,5.7,2016-09-02
11362,https://www.metacritic.com/movie/zootopia,Zootopia,"Action,Adventure,Comedy,Crime,Animation,Family",78,8.6,2016-03-04
11363,https://www.metacritic.com/movie/zus-zo,Zus & zo,"Fantasy,Comedy,Romance",50,7.2,2003-02-07

In [74]:
df.head()

,movie_ID,title,genre,metascore,userscore,url
0,1,!Women Art Revolution,Documentary,70,NaN,https://www.metacritic.com/movie/!women-art-re...
1,2,10 Cloverfield Lane,"Action,Sci-Fi,Drama,Mystery,Thriller,Horror",76,7.7,https://www.metacritic.com/movie/10-cloverfiel...
2,3,10 Items or Less,"Drama,Comedy,Romance",54,5.8,https://www.metacritic.com/movie/10-items-or-less
3,4,10 Years,"Drama,Comedy,Romance",61,6.9,https://www.metacritic.com/movie/10-years
4,5,100 Bloody Acres,"Horror,Comedy",63,7.5,https://www.metacritic.com/movie/100-bloody-acres

In [7]:
df['movie_ID'] = range(1, len(df) + 1)

In [8]:
Gewenste_volgorde = ['movie_ID', 'title', 'genre', 'metascore', 'userscore', 'url']

In [9]:
df = df[['movie_ID', 'title', 'genre', 'metascore', 'userscore', 'url']]

In [10]:
df.to_excel('movies_clean.xlsx')

In [45]:
df = pd.read_excel('movies_clean.xlsx')
df2 = pd.read_excel('sales_clean1.xlsx')

In [46]:
df = df.drop(columns=['Unnamed: 0'])
df2 = df2.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [48]:
df2.head()

,",sales_id,title,url,worldwide_box_office,production_budget,opening_weekend,theatre_count,movie_ID",Unnamed: 1
0,"0,1,Bakha Satang,https://www.the-numbers.com/m...",NaN
1,"1,2,Antitrust,https://www.the-numbers.com/movi...",NaN
2,"2,3,Santitos,https://www.the-numbers.com/movie...",NaN
3,"3,4,Frank McKlusky C.I.,https://www.the-number...",NaN
4,"4,5,A Walk to Remember,https://www.the-numbers...",NaN

In [38]:
merged_df = df.merge(df2[['title', 'sales_id']], on='title', how='left')

KeyError: "['title'] not in index"

In [37]:
merged_df['sales_id'].describe

<bound method NDFrame.describe of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
11359   NaN
11360   NaN
11361   NaN
11362   NaN
11363   NaN
Name: sales_id, Length: 11364, dtype: float64>