In [1]:
import pandas as pd

In [14]:

#create a data frame and export data from excel - Jelle
df = pd.read_excel('ExpertReviewsClean43LIWC.xlsx') 
df.head()

In [16]:
#indicate which columns I want to keep and remove the rest - Jelle 
columns_to_keep = ['url', 'idvscore', 'dateP']
df = df[columns_to_keep]
df.head()

In [18]:
#give all lines their own key 
df['CR_ID'] = range(1, len(df) +1)
df.head()

In [20]:
#changing order of columns where CR_ID is the first column 
desired_order = ['CR_ID', 'idvscore', 'dateP', 'url']
df = df[desired_order]
df.head()

   CR_ID  idvscore  dateP                                       url
0      1     100.0   None  https://www.metacritic.com/movie/bronson
1      2      90.0   None  https://www.metacritic.com/movie/bronson
2      3      90.0   None  https://www.metacritic.com/movie/bronson
3      4      83.0   None  https://www.metacritic.com/movie/bronson
4      5      80.0   None  https://www.metacritic.com/movie/bronson

In [ ]:
df.to_csv('expert_review_clean.csv')

In [6]:
df = pd.read_csv('expert_review_clean.csv', index_col=None)

In [10]:
df = df.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [11]:
df.head()

   CR_ID  idvscore  dateP                                       url
0      1     100.0   None  https://www.metacritic.com/movie/bronson
1      2      90.0   None  https://www.metacritic.com/movie/bronson
2      3      90.0   None  https://www.metacritic.com/movie/bronson
3      4      83.0   None  https://www.metacritic.com/movie/bronson
4      5      80.0   None  https://www.metacritic.com/movie/bronson

In [14]:
df2 = pd.read_excel("movies_clean.excel.xlsx")
df2.head()

,movie_ID,title,genre,metascore,userscore,url
0,1,!Women Art Revolution,Documentary,70,NaN,https://www.metacritic.com/movie/!women-art-re...
1,2,10 Cloverfield Lane,"Action,Sci-Fi,Drama,Mystery,Thriller,Horror",76,7.7,https://www.metacritic.com/movie/10-cloverfiel...
2,3,10 Items or Less,"Drama,Comedy,Romance",54,5.8,https://www.metacritic.com/movie/10-items-or-less
3,4,10 Years,"Drama,Comedy,Romance",61,6.9,https://www.metacritic.com/movie/10-years
4,5,100 Bloody Acres,"Horror,Comedy",63,7.5,https://www.metacritic.com/movie/100-bloody-acres

In [15]:
merged_df = df.merge(df2[['url', 'movie_ID']], on= 'url', how= 'left')

In [17]:
merged_df.head()

   CR_ID  idvscore  dateP                                       url  movie_ID
0      1     100.0   None  https://www.metacritic.com/movie/bronson      1565
1      2      90.0   None  https://www.metacritic.com/movie/bronson      1565
2      3      90.0   None  https://www.metacritic.com/movie/bronson      1565
3      4      83.0   None  https://www.metacritic.com/movie/bronson      1565
4      5      80.0   None  https://www.metacritic.com/movie/bronson      1565

In [18]:
merged_df.to_csv('expert_review_clean_merged.csv')